<div class="navbar">
    <div class="navbar-container">
        <button class="navbar-btn" (click)="onOpenHelp()">
            <i class="fa-solid fa-question"></i>
        </button>
        <div class="navbar-brand">Mable</div>
        <button class="navbar-btn"  (click)="onOpenStats()">
            <i class="fa-solid fa-signal"></i>
        </button>
    </div>
</div>
<app-modal title="Como jogar?" [openned]="help" (onClose)="onCloseHelp()">
    <p class="help-modal-text">Tente descobrir a palavra certa em 6 tentativas. Após cada tentativa, as peças mostram o quão perto você está de acertar a tal palavra.</p>
    <p class="help-modal-text">A letra destacada faz parte da tal palavra e está em sua posição correta.</p>
    <div class="help-modal-blocks">
        <div class="help-modal-block">C</div>
        <div class="help-modal-block">E</div>
        <div class="help-modal-block correct">R</div>
        <div class="help-modal-block">T</div>
        <div class="help-modal-block">O</div>
    </div>
    <p class="help-modal-text">A letra destacada faz parte da tal palavra mas está em sua posição errada.</p>
    <div class="help-modal-blocks">
        <div class="help-modal-block">C</div>
        <div class="help-modal-block maybe">E</div>
        <div class="help-modal-block">R</div>
        <div class="help-modal-block">T</div>
        <div class="help-modal-block">O</div>
    </div>
    <p class="help-modal-text">A letra destacada não faz parte da tal palavra.</p>
    <div class="help-modal-blocks">
        <div class="help-modal-block">C</div>
        <div class="help-modal-block">E</div>
        <div class="help-modal-block">R</div>
        <div class="help-modal-block wrong">T</div>
        <div class="help-modal-block">O</div>
    </div>
    <p class="help-modal-text">As palavras podem possuir letras repetidas</p>
</app-modal>
<app-modal title="Suas estatísticas" [openned]="stats" (onClose)="onCloseStats()">
    <div class="stats-container">
        <div class="stats-field">
            <div class="stats-name">Quantidade de jogos</div>
            <div class="stats-value">{{ contextService.user?.getGames() }}</div>
        </div>
        <div class="stats-field">
            <div class="stats-name">Porcentagem de Vitórias</div>
            <div class="stats-value">{{ contextService.user?.getWinrate() }}</div>
        </div>
        <div class="stats-field">
            <div class="stats-name">Vitórias</div>
            <div class="stats-value">{{ contextService.user?.getWins() }}</div>
        </div>
        <div class="stats-field">
            <div class="stats-name">Derrotas</div>
            <div class="stats-value">{{ contextService.user?.getLoses() }}</div>
        </div>
        <div class="stats-field">
            <div class="stats-name">Sequência de vitórias</div>
            <div class="stats-value">{{ contextService.user?.getWinstreak() }}</div>
        </div>
        <div class="stats-field">
            <div class="stats-name">Maior sequência de vitórias</div>
            <div class="stats-value">{{ contextService.user?.getBestWinstreak() }}</div>
        </div>
    </div>
</app-modal>