<div class="keyboard">
    <div class="keyboard-container">
        <div class="keyboard-row">
            <button class="keyboard-key big"><i class="fa-solid fa-xmark"></i></button>
            <button class="keyboard-key big"><i class="fa-solid fa-check"></i></button>
        </div>
        <div class="keyboard-row">
            <button class="keyboard-key small">Q</button>
            <button class="keyboard-key small">W</button>
            <button class="keyboard-key small">E</button>
            <button class="keyboard-key small">R</button>
            <button class="keyboard-key small">T</button>
            <button class="keyboard-key small">Y</button>
            <button class="keyboard-key small">U</button>
            <button class="keyboard-key small">I</button>
            <button class="keyboard-key small">O</button>
            <button class="keyboard-key small">P</button>
        </div>
        <div class="keyboard-row">
            <button class="keyboard-key small">A</button>
            <button class="keyboard-key small">S</button>
            <button class="keyboard-key small">D</button>
            <button class="keyboard-key small">F</button>
            <button class="keyboard-key small">G</button>
            <button class="keyboard-key small">H</button>
            <button class="keyboard-key small">J</button>
            <button class="keyboard-key small">K</button>
            <button class="keyboard-key small">L</button>
        </div>
        <div class="keyboard-row">
            <button class="keyboard-key small">Z</button>
            <button class="keyboard-key small">X</button>
            <button class="keyboard-key small">C</button>
            <button class="keyboard-key small">V</button>
            <button class="keyboard-key small">B</button>
            <button class="keyboard-key small">N</button>
            <button class="keyboard-key small">M</button>
        </div>
    </div>
</div>