:root{
    --primary: #CCAD00;
    --primary-alt: #b69b00;
    --secondary: #FF4081;
    --secondary-alt: #eb3b76;
    --white: #EDEDED;
    --black: #2c2c2c; 
    --black-alt: #222222; 
    --grey: #4d4d4d;
    --grey-alt: #313131;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #6D4C41;
    color: #EDEDED;
}